.hidden {
  display: none;
}

/* reset style */

body {
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  background-color: #fff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container-mobile-header */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* desktop */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* header */

.header-styles {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address-style {
  display: none;
}

.logo-style-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-header {
  padding: 16px 0;
  display: block;
}

.logo-web {
  color: #2e2f42;
}

.burger-button-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon-burger-button {
  display: block;
  fill: #2f2f37;
}

/* tablet-header */

@media screen and (min-width: 768px) {
  .burger-button-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address-style {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link-list {
    display: block;
    padding: 24px 0;
  }

  .navigation-link-styles {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link-styles:hover,
  .navigation-link-styles:focus {
    color: #404bbf;
  }

  .current-page {
    position: relative;
    color: #404bbf;
  }

  .current-page::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-styles {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-styles:hover,
  .address-styles:focus {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

/* desktop-header */

@media screen and (min-width: 1158px) {
  .logo-style-header {
    margin-right: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-styles {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-button {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover .icon-close-button,
.mobile-menu-close-button:focus .icon-close-button {
  fill: #fff;
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-list-li {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list-li:hover,
.mobile-list-li:focus {
  color: #404bbf;
}

.mobile-address-list-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  display: block;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #404bbf;
}

.mobile-social-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mobile-social-lisl-li {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

.mobile-menu-social-icon {
  fill: #f4f4fd;
}

/* mobile-hero-section */

.container.hero-section {
  padding: 0;
}

.section-hero-position {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg-opt.jpg);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  max-width: 320px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 72px 52px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-hero-position {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg-opt-2x.jpg);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-size: cover;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 216px;
}

.hero-margin {
  margin-bottom: 72px;
}

.style-but {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: transparent;
  min-width: 169px;
}

/* #region modal */

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal elements */

.close-modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:focus .icon-close-btn,
.close-modal-btn:hover .icon-close-btn {
  fill: #fff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.title-modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.form-wrapper-container {
  margin-bottom: 8px;
}

.modal-form-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrapper-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

/* text area modal */

.form-container-comment {
  margin-bottom: 16px;
}

.modal-form-comment {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* modal-checkbox */

.modal-container-checkbox {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-input-checkbox:checked + .modal-label-checkbox > .custom-checkbox {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.custom-checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-link {
  text-decoration: underline;
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* modal-send-button */

.modal-send-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: transparent;
  min-width: 169px;
}

/* #endregion modal */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .section-hero-position {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg-opt.jpg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 768px;
    margin: 0 auto;
    padding: 112px 136px;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero-position {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg-opt-2x.jpg);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background-size: cover;
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    max-width: 496px;
  }

  .hero-margin {
    margin-bottom: 36px;
  }

  .container.hero-section {
    padding: 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero-position {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-people-office-opt.jpg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0px;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-hero-position {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-bg-opt-2x.jpg);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .hero-margin {
    margin-bottom: 48px;
  }
}

/* section two mobile */

.cont-sec-two {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icon-container {
  display: none;
}

.list-section-two {
  max-width: 100%;
}

.sec-two-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.heading-advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description-advantages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .sec-two-list > li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .heading-advantages {
    text-align: left;
  }

  .sec-two-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .icon-container {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .heading-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .description-advantages {
    font-weight: 400;
  }

  .sec-two-list > li {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section.section-two-padding {
    padding: 120px 0;
  }

  .container.cont-sec-two {
    padding: 0;
  }
}

/* section three mobile */

.container.cont-section-three {
  padding: 0;
}

.background-clr-sec-three {
  padding: 96px 28px;
  background-color: #f4f4fd;
}

.title-section-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-card-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-cards-color {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  justify-content: center;
}
